@import "../../styles/variables";

.search-container {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  .link-back {
    font-size: $h3;
    color: $btn-primary;
    white-space: nowrap;
  }
  .search-result {
    height: 50px;
    display: flex;
    align-items: center;
    .txt-result {
      font-size: $h3;
    }
  }
  .search-input {
    width: calc(100% - 20px);
    padding: 0 10px;
    @media #{$for-nonemobile} {
      width: 50%;
    }
  }
}